<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>

    <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

    <title>update</title>
<body>
<div class="container">
    <div th:if="${validationError}" th:each="error : ${validationError}">
        <label class="text-danger" th:text="${error}"></label>
    </div>
    <h1>学生情報編集</h1>
    <form th:action="@{/student/update}" th:object="${Student004Request}" th:method="post">
        <!--        <input type="hidden" th:field="*{id}"/>-->
        <div th:object="${studentData}">
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">学生ID</div>
                <div class="col pt-3 border">
                    <input type="text" class="form-control" th:readonly="${true}" th:field="*{id}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">ユーザID<span class="text-danger">※</span></div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:readonly="${true}"th:field="${studentData.userId}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">従業員ID</div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:readonly="${true}"th:field="${studentData.staffId}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">名前</div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:field="${studentData.name}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">年齢</div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:field="${studentData.age}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">性別</div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:field="${studentData.sex}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">電話番号<span class="text-danger">※</span></div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:field="${studentData.tel}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">メールアドレス<span class="text-danger">※</span></div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:field="${studentData.maileAddress}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">グレード<span class="text-danger">※</span></div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:field="${studentData.grade}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">クラス<span class="text-danger">※</span></div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:field="${studentData.studentClass}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">保護者電話番号<span class="text-danger">※</span></div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:field="${studentData.guardianTel}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">保護者メールアドレス<span class="text-danger">※</span></div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:field="${studentData.guardianMaileAddress}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">保護者名前<span class="text-danger">※</span></div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:field="${studentData.guardianName}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">有効フラグ<span class="text-danger">※</span></div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:field="${studentData.disableFlag}">
                </div>
            </div>
        </div>
        <br/>
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="　保存　">
            <a th:attr="onclick='location.href=\'/student/info?id=' + ${studentData.id} + '\''" class="btn btn-secondary">キャンセル</a>
        </div>

    </form>
</div>
</body>
</html>

