<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="学生情報一覧"></title>
    <link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>学生情報検索</h1>
<table>
    <tr th:if="${validationError}" th:each="error : ${validationError}">
        <td style="color: red;" th:text="${error}"></td>
    </tr>
</table>
<form th:action="@{/student/search}" th:object="${student003Request}"
      th:method="post" class="form-inline my-2 my-lg-0">
    <div>
        <div>
            学生ID：<input type="text" name="id" class="form-control mr-sm-2" th:value="${id}" placeholder="学生ID"/>
            学生名前：<input type="text" name="name" class="form-control mr-sm-2" th:value="${name}" placeholder="学生名前"/>
            <input type="submit" value="検索" class="btn btn-outline-success my-2 my-sm-0"/>
        </div>
    </div>
</form>
<br/>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
<!--        <th>ユーザーNo</th>-->
<!--        <th>従業員ID</th>-->
        <th>名前</th>
        <th>年齢</th>
        <th>性別</th>
<!--        <th>電話番号</th>-->
<!--        <th>メールアドレス</th>-->
        <th>グレード</th>
        <th>クラス</th>
<!--        <th>保護者電話番号</th>-->
<!--        <th>保護者メールアドレス</th>-->
<!--        <th>保護者名前</th>-->
        <th>Edit</th>
    </tr>
    </thead>
    <div th:if="${studentinfolist != null}">
        <tbody>

        <tr th:each="student, st : ${studentinfolist}" th:object="${student}" class="align-middle">
            <td>
                <label th:text="${student.id}"></label>
                <input type="hidden" field="${studentinfolist[__${st.index}__].id}">
            </td>
<!--            <td>-->
<!--                <label th:text="${student.userId}"></label>-->

<!--                <input type="hidden" class="form-control" field="${studentinfolist[__${st.index}__].userId}">-->
<!--            </td>-->
<!--            <td>-->
<!--                <label th:text="${student.staffId}"></label>-->

<!--                <input type="hidden" class="form-control" field="${studentinfolist[__${st.index}__].staffId}">-->
<!--            </td>-->
            <td>
                <label th:text="${student.name}"></label>

                <input type="hidden" class="form-control" field="${studentinfolist[__${st.index}__].name}">
            </td>
            <td>
                <label th:text="${student.age}"></label>

                <input type="hidden" class="form-control" field="${studentinfolist[__${st.index}__].age}">
            </td>
            <td>
                <label th:text="${student.sex}"></label>

                <input type="hidden" class="form-control" field="${studentinfolist[__${st.index}__].sex}">
            </td>
<!--            <td>-->
<!--                <label th:text="${student.tel}"></label>-->

<!--                <input type="hidden" class="form-control" field="${studentinfolist[__${st.index}__].tel}">-->
<!--            </td>-->
<!--            <td>-->
<!--                <label th:text="${student.maileAddress}"></label>-->

<!--                <input type="hidden" class="form-control" field="${studentinfolist[__${st.index}__].maileAddress}">-->
<!--            </td>-->
            <td>
                <label th:text="${student.grade}"></label>

                <input type="hidden" class="form-control" field="${studentinfolist[__${st.index}__].grade}">
            </td>
            <td>
                <label th:text="${student.studentClass}"></label>

                <input type="hidden" class="form-control" field="${studentinfolist[__${st.index}__].studentClass}">
            </td>
<!--            <td>-->
<!--                <label th:text="${student.guardianTel}"></label>-->

<!--                <input type="hidden" class="form-control" field="${studentinfolist[__${st.index}__].guardianTel}">-->
<!--            </td>-->
<!--            <td>-->
<!--                <label th:text="${student.guardianMaileAddress}"></label>-->

<!--                <input type="hidden" class="form-control" field="${studentinfolist[__${st.index}__].guardianMaileAddress}">-->
<!--            </td>-->
<!--            <td>-->
<!--                <label th:text="${student.guardianName}"></label>-->

<!--                <input type="hidden" class="form-control" field="${studentinfolist[__${st.index}__].guardianName}">-->
<!--            </td>-->

            <td>
                <button th:attr="onclick='location.href=\'/student/info?id=' + ${student.id} + '\''" type="button"
                        class="btn btn-primary">
                    詳細
                </button>
            </td>
        </tr>
        <div th:if="${studentinfolist.size() == 0}" style="color: red">no data</div>
        </tbody>

    </div>

</table>
</div>

</div>
</body>
</html>
