<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>

    <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

    <title>update</title>
<body>
<div class="container">
    <div th:if="${validationError}" th:each="error : ${validationError}">
        <label class="text-danger" th:text="${error}"></label>
    </div>
    <h1>従業員情報編集</h1>
    <form th:action="@{/staff/update}" th:object="${Staff005Request}" th:method="post">
        <!--        <input type="hidden" th:field="*{id}"/>-->
        <div th:object="${staffData}">
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">従業員ID</div>
                <div class="col pt-3 border">
                    <input type="text" class="form-control" th:readonly="${true}" th:field="*{id}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">ユーザーID</div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:readonly="${true}" th:field="${staffData.userId}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">従業員名前<span class="text-danger">※</span></div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:field="${staffData.name}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">年齢<span class="text-danger">※</span></div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:field="${staffData.age}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">性別<span class="text-danger">※</span></div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:field="${staffData.sex}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">電話番号<span class="text-danger">※</span></div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:field="${staffData.tel}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">メールアドレス<span class="text-danger">※</span></div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:field="${staffData.maileAddress}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">職階フラグ<span class="text-danger">※</span></div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:field="${staffData.shikiFlag}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">担当グレード<span class="text-danger">※</span></div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:field="${staffData.workGrade}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">担当クラス<span class="text-danger">※</span></div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:field="${staffData.workClass}">
                </div>
            </div>
            <div class="row mx-md-n5">
                <div class="col-2 pt-3 border bg-light">有効フラグ<span class="text-danger">※</span></div>
                <div class="col py-2 border">
                    <input type="text" class="form-control" th:field="${staffData.disableFlag}">
                </div>
            </div>
        </div>
        <br/>
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="　保存　">
            <a th:attr="onclick='location.href=\'/staff/info?id=' + ${staffData.id} + '\''" class="btn btn-secondary">キャンセル</a>
        </div>

    </form>
</div>
</body>
</html>

