<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>新規画面</title>
    <link href="/css/list.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>sign up</h1>
<table>
    <tr th:if="${validationError}" th:each="error : ${validationError}">
        <td style="color: red;" th:text="${error}"></td>
    </tr>
</table>
<form th:action="@{/user/login}" th:object="${user002Request}"
      th:method="post" id="form">
    <div>
        ユーザーNO：<input type="text" id="userNo" name="userNo" size="40" /><br>
        パスワード：<input type="password" id="passWord" name="passWord" size="40" />
    </div>
    <br/>
    <div>
        <input type="button" value="signup" onclick="loginClick()" style="width: 100px;" />
    </div>
    <br />
</form>
<script>
    function loginClick (){
        let userNo= document.getElementById('userNo').value;
        let password= document.getElementById('passWord').value;

        if (userNo== ''){
            alert("userNoを入力してください！")
            return;
        }
        if (password== ''){
            alert("passwordを入力してください！")
            return;
        }
        document.getElementById('form').onsubmit;
    }
</script>
</body>
</html>