<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="text-center">

<h1>Login</h1>
<div th:if="${validationError}" th:each="error : ${validationError}">
    <p style="color: red;">ユーザ名またはパスワードが異なります。</p>
</div>
</table>
<form th:action="@{/user/login}" th:object="${user002Request}"
      th:method="post" id="form">
    <label>ユーザーID</label>
    <input type="text" id="userNo" name="userNo" size="40"/><br/>
    <br/>
    <label>パスワード</label>
    <input type="password" id="passWord" name="passWord" size="40"/><br/>
    <br/>
    <input class="btn btn-primary" type="button" value="ログイン" onclick="loginClick()"></input>
</form>
<br/>
<a th:href="@{/signup}">新規登録はこちら</a><br>
</body>

<script>
    function loginClick() {
        let userNo = document.getElementById('userNo').value;
        let password = document.getElementById('passWord').value;

        if (userNo == '') {
            alert("userNoを入力してください！")
            return;
        }
        if (password == '') {
            alert("passwordを入力してください！")
            return;
        }
        document.getElementById('form').submit();
    }
</script>
</body>
</html>
